<ion-header>
  <ion-toolbar color="mycolor" class="ion-text-center">
    <ion-title>LAB TASK 7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-img src="assets/nugget.jpg"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button size="small" expand="block" fill="clear">
        <ion-icon slot="start" name="add"></ion-icon>
        Pro
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button size="small" expand= "full" fill="outline">
        <ion-icon slot="start" name="call"></ion-icon>
        Contact
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="12">
      <ion-button [routerLink]="['/form']" size="small" expand="block" fill="solid">
        <ion-icon slot="start" name="add"></ion-icon>
        Programme
      </ion-button>
    </ion-col>

  </ion-row>

  </ion-grid>


</ion-content>


<ion-footer>
  <ion-toolbar color="mycolor" class="ion-text-center">
    <ion-title>Copyright@KUPTM</ion-title>
  </ion-toolbar>
</ion-footer>
