<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Hi, {{user.email}}</h4>
  <h4>Hi, {{user.password}}</h4>
  <!-- <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input >
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input >
  </ion-item>

  <ion-button 
  class="ion-padding" 
  expand="full" 
  shape="round" 
  color="primary" 
  (click)="register(user)"
  >
   SUBMIT
  </ion-button> -->
</ion-content>


